@charset "utf-8";

#about h3 {
    font-size: 1.6em;
    text-align: center;
}

#about p {
    font-size: 1.2em;
    margin-top: 24px;
    text-align: center;
}

#works ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#works h3 {
    font-size: 1.6em;
    text-align: center;
    margin-bottom: -40px;

}

#works ul {
    margin-top: 60px;
}

#works ul li {
    margin-top: 24px;
}

#works ul li img {
    width: 300px;
}

#contact h3 {
    font-size: 1.6em;
    text-align: center;
}

#contact form {
    width: 480px;
    margin: 40px auto 0;
}

#contact p {
    margin-top: 12px;
    width: 480px;
}

#contact input {
    width: 480px;
    font-size: 1.1em;
    margin-top: 6px;
}

#contact textarea {
    width: 480px;
    font-size: 1.1em;
    margin-top: 6px;
    text-align: center;
}